/*-------------------------------------------------------------------------------------------------------
-                                       login                                                           -
-------------------------------------------------------------------------------------------------------*/
.log_in {
  height: 100vh;
  background-color: rgba(16, 122, 58, 0.78);
  color: white;
  padding: 80px;
  position: relative;
  overflow: hidden;
}

.log_in h1 {
  font-family: norwester;
  font-size: 7em;
  margin-bottom: 60px;
}

.log_in .username {
  height: 3em;
  width: 25em;
  border-radius: 2em;
  display: block;
  border: 0;
}

.log_in input[type=text],
.log_in input[type=password] {
  padding-left: 30px;
  padding-right: 30px;
}

.log_in input:focus,
.log_in button:focus {
  outline-width: 0;
}

.log_in .login_button {
  height: 2.5em;
  width: 10em;
  display: block;
  margin-top: 60px;
  margin-left: 20em;
  cursor: pointer;
  background-color: #FFE77A;
  color: black;
  font-weight: 600;
  border: 0;
  border-radius: 2em;
}

.side_info {
  position: absolute;
  height: 200vh;
  width: 40em;
  background-color: white;
  right: 3em;
  top: -25em;
  -webkit-transform: rotate(-11deg);
          transform: rotate(-11deg);
}

.navbar-nav {
  line-height: 40px;
  -webkit-transform: rotate(11deg);
          transform: rotate(11deg);
  position: relative;
  top: 25em;
}

.nav-item {
  font-weight: 700;
  font-size: 10pt;
  margin-right: 4em;
}

.navbar-nav.navbar-center {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1080px) {
  .side_info {
    top: 0;
    height: 60px;
    width: auto;
    background-color: white;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: 0;
    right: 0;
  }
  #nav_bar {
    padding: 0 !important;
  }
  .navbar-nav {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .nav-link {
    color: #107A3A !important;
  }
}

/*-------------------------------------------------------------------------------------------------------
-                                       login                                                           -
-------------------------------------------------------------------------------------------------------*/
.quiz_interface {
  min-height: 100vh;
  background-color: #F6F6F6;
  font-family: 'Segoe UI', sans-serif;
}

.logout {
  text-decoration: underline;
  color: #003687;
  cursor: pointer;
}

.question p {
  font-size: 1.2em;
  margin-left: 15%;
  margin-right: 15%;
  font-family: 'Segoe UI', sans-serif;
}

.options {
  width: 80%;
  margin-top: 3em;
}

.options .option {
  border-radius: 2em;
  height: 3.5em;
  padding-left: 1.75em;
  margin-right: 2em;
  margin-bottom: 1em;
  text-transform: capitalize;
  background-color: whitesmoke;
  -webkit-box-shadow: #707070 1px 2px 3px;
          box-shadow: #707070 1px 2px 3px;
  font-family: 'Segoe UI', sans-serif;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.options .hover {
  background-color: #ececec;
  -webkit-box-shadow: #707070 2px 2px 4px;
          box-shadow: #707070 2px 2px 4px;
}

.options .correct {
  border: none;
  background-color: #107A3A;
  color: white;
  -webkit-box-shadow: #4f1010 1px 2px 3px;
          box-shadow: #4f1010 1px 2px 3px;
}

.options .wrong {
  border: none;
  background-color: #CF2929;
  color: white;
  -webkit-box-shadow: #4f1010 1px 2px 3px;
          box-shadow: #4f1010 1px 2px 3px;
}

.options .selected {
  border: none;
  background-color: #D4C605;
  color: white;
  -webkit-box-shadow: #4f1010 1px 2px 3px;
          box-shadow: #4f1010 1px 2px 3px;
}

#error_msg {
  margin-top: 5px;
  color: #CF2929;
}

#submit {
  width: 10em;
  border: none;
  padding: 1em;
  border-radius: 2em;
  background-color: #707070;
  color: white;
  margin-right: 10%;
  margin-bottom: 10%;
}
/*# sourceMappingURL=main.css.map */